<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <div class="main-content">

        {{>header}}

        <form>
            <input type="text" placeholder="Enter Location" value="">
             <button>Search</button>
            <p class="warning-sign">Enter a location</p>
           
        </form>
        
        <div class="forecast-container">
           
            <p class="para address loading"></p>
            <p class="para forecast"></p>
        </div>
        

    </div>

    {{>footer}}

    <script src="js/index.js"></script>
</body>
</html>