body{
    background-color: rgb(245, 239, 244);
    color: #333334;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 auto ;
    padding: 0 20px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.main-content{
    flex-grow: 1;
}
footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top:16px;
    padding: 16px 0;
}

header{
    margin:16px 0 48px;
}
h1{
    font-size: 63px;
    margin-bottom: 16px;
}
header a{
    color: #888888;
    margin-right:16px ;
    text-decoration: none;
}
.portrait{
    width: 250px;
   
}
input{
    margin: 16px 0 0px;
}
.forecast-container{
    background-color: white;
    height: 94px;
    width: auto;
    border-radius: 6px;
    padding: 32px;
}
.loading{
    text-align: center;
}

.warning-sign{
    padding: 0;
    margin: 3px 2px 32px;
    font-size: 10px;
    color: rgb(255, 59, 59);
    visibility: hidden;
}
.warning{
    visibility: visible;
}